extends base.pug

block content
    ul
        li Rating #{video.rating}/5
        li #{video.comment} comments.
        li #{video.views} #{video.views <= 1 ? "view" : "views"}
        li Posted #{video.createdAt}.
    a(href=`${video.id}/edit`) Edit Video &rarr;