extends base.pug

block content
    div
        p=video.description
        div
            each hashtags in video.hashtags
                span #{hashtags} 
        small=video.createdAt
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;